InstrukcjeProdukcyjne/InstrukcjeProdukcyjne/Service References/ServiceWorkstation/ServiceWorkstation2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITechService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITechService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDokumentIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DokumentIdentity" nillable="true" type="tns:DokumentIdentity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDokumentIdentity" nillable="true" type="tns:ArrayOfDokumentIdentity" />
  <xs:complexType name="DokumentIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastWriteTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocalFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DokumentIdentity" nillable="true" type="tns:DokumentIdentity" />
</xs:schema>