InstrukcjeProdukcyjne/InstrukcjeProdukcyjne/Service References/ServiceWorkstation/ServiceWorkstation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceWorkstation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53854/ServiceWorkstation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53854/ServiceWorkstation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53854/ServiceWorkstation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITechInstrukcjeModel" />
      <xsd:import schemaLocation="http://localhost:53854/ServiceWorkstation.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:53854/ServiceWorkstation.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ITechService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWorkstation_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetNews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNews" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetNews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetNewsUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsUser" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetNewsUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewsUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetSimaticCpuType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSimaticCpuType" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetSimaticCpuType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSimaticCpuTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetWorkstationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkstationList" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetWorkstationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkstationListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetInformationPlain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInformationPlain" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetInformationPlain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInformationPlainResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetInformationPlainsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInformationPlainsList" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetInformationPlainsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInformationPlainsListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetDokumentsList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDokumentsList" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetDokumentsList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDokumentsListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetITechUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetITechUserList" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetITechUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetITechUserListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_UpdateWorkstation_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkstation" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_UpdateWorkstation_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkstationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetModelWorkstationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModelWorkstationInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetModelWorkstationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelWorkstationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetModels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetModels" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetModels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetModelsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_UpdateModelWorkstationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateModelWorkstationInfo" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_UpdateModelWorkstationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateModelWorkstationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_RunTestKompetencji_InputMessage">
    <wsdl:part name="parameters" element="tns:RunTestKompetencji" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_RunTestKompetencji_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunTestKompetencjiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_UpdateTestKompetencji_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTestKompetencji" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_UpdateTestKompetencji_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTestKompetencjiResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetUserReadDokList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserReadDokList" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetUserReadDokList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserReadDokListResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_UserReadDok_InputMessage">
    <wsdl:part name="parameters" element="tns:UserReadDok" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_UserReadDok_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserReadDokResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_UserReadMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:UserReadMessage" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_UserReadMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserReadMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetLoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginUser" />
  </wsdl:message>
  <wsdl:message name="IServiceWorkstation_GetLoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWorkstation">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/Ping" message="tns:IServiceWorkstation_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/PingResponse" message="tns:IServiceWorkstation_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/TestConnection" message="tns:IServiceWorkstation_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/TestConnectionResponse" message="tns:IServiceWorkstation_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNews">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/GetNews" message="tns:IServiceWorkstation_GetNews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/GetNewsResponse" message="tns:IServiceWorkstation_GetNews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewsUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/GetNewsUser" message="tns:IServiceWorkstation_GetNewsUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/GetNewsUserResponse" message="tns:IServiceWorkstation_GetNewsUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSimaticCpuType">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/GetSimaticCpuType" message="tns:IServiceWorkstation_GetSimaticCpuType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/GetSimaticCpuTypeResponse" message="tns:IServiceWorkstation_GetSimaticCpuType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkstationList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/GetWorkstationList" message="tns:IServiceWorkstation_GetWorkstationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/GetWorkstationListResponse" message="tns:IServiceWorkstation_GetWorkstationList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInformationPlain">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/GetInformationPlain" message="tns:IServiceWorkstation_GetInformationPlain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/GetInformationPlainResponse" message="tns:IServiceWorkstation_GetInformationPlain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInformationPlainsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/GetInformationPlainsList" message="tns:IServiceWorkstation_GetInformationPlainsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/GetInformationPlainsListResponse" message="tns:IServiceWorkstation_GetInformationPlainsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDokumentsList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/GetDokumentsList" message="tns:IServiceWorkstation_GetDokumentsList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/GetDokumentsListResponse" message="tns:IServiceWorkstation_GetDokumentsList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetITechUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/GetITechUserList" message="tns:IServiceWorkstation_GetITechUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/GetITechUserListResponse" message="tns:IServiceWorkstation_GetITechUserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkstation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/UpdateWorkstation" message="tns:IServiceWorkstation_UpdateWorkstation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/UpdateWorkstationResponse" message="tns:IServiceWorkstation_UpdateWorkstation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModelWorkstationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/GetModelWorkstationInfo" message="tns:IServiceWorkstation_GetModelWorkstationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/GetModelWorkstationInfoResponse" message="tns:IServiceWorkstation_GetModelWorkstationInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetModels">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/GetModels" message="tns:IServiceWorkstation_GetModels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/GetModelsResponse" message="tns:IServiceWorkstation_GetModels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateModelWorkstationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/UpdateModelWorkstationInfo" message="tns:IServiceWorkstation_UpdateModelWorkstationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/UpdateModelWorkstationInfoResponse" message="tns:IServiceWorkstation_UpdateModelWorkstationInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunTestKompetencji">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/RunTestKompetencji" message="tns:IServiceWorkstation_RunTestKompetencji_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/RunTestKompetencjiResponse" message="tns:IServiceWorkstation_RunTestKompetencji_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTestKompetencji">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/UpdateTestKompetencji" message="tns:IServiceWorkstation_UpdateTestKompetencji_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/UpdateTestKompetencjiResponse" message="tns:IServiceWorkstation_UpdateTestKompetencji_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserReadDokList">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/GetUserReadDokList" message="tns:IServiceWorkstation_GetUserReadDokList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/GetUserReadDokListResponse" message="tns:IServiceWorkstation_GetUserReadDokList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserReadDok">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/UserReadDok" message="tns:IServiceWorkstation_UserReadDok_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/UserReadDokResponse" message="tns:IServiceWorkstation_UserReadDok_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserReadMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/UserReadMessage" message="tns:IServiceWorkstation_UserReadMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/UserReadMessageResponse" message="tns:IServiceWorkstation_UserReadMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWorkstation/GetLoginUser" message="tns:IServiceWorkstation_GetLoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWorkstation/GetLoginUserResponse" message="tns:IServiceWorkstation_GetLoginUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceWorkstation" type="tns:IServiceWorkstation">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNews">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/GetNews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewsUser">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/GetNewsUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSimaticCpuType">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/GetSimaticCpuType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkstationList">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/GetWorkstationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInformationPlain">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/GetInformationPlain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInformationPlainsList">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/GetInformationPlainsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDokumentsList">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/GetDokumentsList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetITechUserList">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/GetITechUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorkstation">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/UpdateWorkstation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModelWorkstationInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/GetModelWorkstationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetModels">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/GetModels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateModelWorkstationInfo">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/UpdateModelWorkstationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunTestKompetencji">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/RunTestKompetencji" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTestKompetencji">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/UpdateTestKompetencji" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserReadDokList">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/GetUserReadDokList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserReadDok">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/UserReadDok" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserReadMessage">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/UserReadMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginUser">
      <soap:operation soapAction="http://tempuri.org/IServiceWorkstation/GetLoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceWorkstation">
    <wsdl:port name="BasicHttpBinding_IServiceWorkstation" binding="tns:BasicHttpBinding_IServiceWorkstation">
      <soap:address location="http://localhost:53854/ServiceWorkstation.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>