InstrukcjeProdukcyjne/InstrukcjeProdukcyjne/Service References/ServiceWorkstation/ServiceWorkstation5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITechInstrukcjeModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITechInstrukcjeModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="News">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedAt" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="News1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewsPriority" nillable="true" type="tns:NewsPriority" />
      <xs:element minOccurs="0" name="NewsPriorityId" type="xs:int" />
      <xs:element minOccurs="0" name="ValidEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="News" nillable="true" type="tns:News" />
  <xs:complexType name="NewsPriority">
    <xs:sequence>
      <xs:element minOccurs="0" name="CssName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="News" nillable="true" type="tns:ArrayOfNews" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewsPriority" nillable="true" type="tns:NewsPriority" />
  <xs:complexType name="ArrayOfNews">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="News" nillable="true" type="tns:News" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNews" nillable="true" type="tns:ArrayOfNews" />
  <xs:complexType name="ArrayOfResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resource" nillable="true" type="tns:Resource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResource" nillable="true" type="tns:ArrayOfResource" />
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Factory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="InformationPlanModel" nillable="true" type="tns:ArrayOfInformationPlan" />
      <xs:element minOccurs="0" name="InformationPlanWorkstation" nillable="true" type="tns:ArrayOfInformationPlan" />
      <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastWriteTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModelsWorkstation" nillable="true" type="tns:ArrayOfModelsWorkstation" />
      <xs:element minOccurs="0" name="ModelsWorkstationModel" nillable="true" type="tns:ArrayOfModelsWorkstation" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="News" nillable="true" type="tns:News" />
      <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="WorkProcess" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Workstation" nillable="true" type="tns:ArrayOfWorkstation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
  <xs:complexType name="ArrayOfInformationPlan">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InformationPlan" nillable="true" type="tns:InformationPlan" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInformationPlan" nillable="true" type="tns:ArrayOfInformationPlan" />
  <xs:complexType name="InformationPlan">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dokument" nillable="true" type="tns:Dokument" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="IdD" type="xs:int" />
      <xs:element minOccurs="0" name="IdM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Order" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idR" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InformationPlan" nillable="true" type="tns:InformationPlan" />
  <xs:complexType name="Dokument">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Kategoria_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Kategorie" nillable="true" type="tns:Kategorie" />
      <xs:element minOccurs="0" name="Keywords" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastWriteTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LocalFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ValidDtmOff" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidDtmOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WorkProcess_Id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dokument" nillable="true" type="tns:Dokument" />
  <xs:complexType name="Kategorie">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kategorie" nillable="true" type="tns:Kategorie" />
  <xs:complexType name="ArrayOfModelsWorkstation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelsWorkstation" nillable="true" type="tns:ModelsWorkstation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelsWorkstation" nillable="true" type="tns:ArrayOfModelsWorkstation" />
  <xs:complexType name="ModelsWorkstation">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="idW" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelsWorkstation" nillable="true" type="tns:ModelsWorkstation" />
  <xs:complexType name="ArrayOfWorkstation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Workstation" nillable="true" type="tns:Workstation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkstation" nillable="true" type="tns:ArrayOfWorkstation" />
  <xs:complexType name="Workstation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllowIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Factory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Setrownik_DB" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sterownik_Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sterownik_Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkstationGroup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idR" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Workstation" nillable="true" type="tns:Workstation" />
  <xs:complexType name="ArrayOfItechUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItechUsers" nillable="true" type="tns:ItechUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItechUsers" nillable="true" type="tns:ArrayOfItechUsers" />
  <xs:complexType name="ItechUsers">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessProfile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AspNetRoles" nillable="true" type="tns:ArrayOfAspNetRoles" />
      <xs:element minOccurs="0" name="CardNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="ForceTestKompetencji" type="xs:boolean" />
      <xs:element minOccurs="0" name="Frozen" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastTestKompetencjiDtm" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastTestKompetencjiDtmSucces" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastTestKompetencjiResult" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordFormat" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItechUsers" nillable="true" type="tns:ItechUsers" />
  <xs:complexType name="ArrayOfAspNetRoles">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AspNetRoles" nillable="true" type="tns:AspNetRoles" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAspNetRoles" nillable="true" type="tns:ArrayOfAspNetRoles" />
  <xs:complexType name="AspNetRoles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AspNetRoles" nillable="true" type="tns:AspNetRoles" />
</xs:schema>